git+https://github.com/shayypy/guilded.py
python-dotenv
requests
humanfriendly
better-profanity
levenshtein
user-agents
feedparser
pyppeteer
markdownify
unidecode
beautifulsoup4
quart
quart-cors
hypercorn
surrealdb
lingua-language-detector
scikit-learn
nltk
spacy
textblob
tensorflow
pandas
Keras
Keras-Preprocessing