git+https://github.com/shayypy/guilded.py
python-dotenv
requests
humanfriendly
better-profanity
levenshtein
user-agents
feedparser
markdownify
unidecode
beautifulsoup4
lxml
quart==0.19.4
quart-cors==0.7.0
quart-rate-limiter
hypercorn
surrealdb
lingua-language-detector
scikit-learn
nltk
spacy
textblob
tensorflow<2.16
pandas
keras<3.0.0
pillow
pycountry
pycryptodome
nudenet
python-i18n
prometheus-client
python-loki-logger
redis==5.0.3